<div ng-controller="addController">

    <div class="row">
      
      <div class="col-10">
      	<br><br>
        <form name="add" ng-submit="save()">

         <div class="form-group">
            <label for="author"><b>Author:</b></label>
            <input class="form-control" id="author" ng-required="true" ng-model="saved.author"/>
          </div>

		  <div class="form-group">
            <label for="country"><b>Country:</b></label>
            <input class="form-control" id="country" ng-required="true" ng-model="saved.country"/>
          </div>

          <div class="form-group">
            <label for="language"><b>Language:</b></label>
            <input class="form-control" id="language" ng-required="true" ng-model="saved.language"/>
          </div>
          
          <div class="form-group">
            <label for="pages"><b>Number of pages:</b></label>
            <input class="form-control" id="pages" ng-required="true" ng-model="saved.pages"/>
          </div>
          
          <div class="form-group">
            <label for="title"><b>Title:</b></label>
            <input class="form-control" id="title" ng-required="true" ng-model="saved.title"/>
          </div>
          
          <div class="form-group">
            <label for="year"><b>Year:</b></label>
            <input class="form-control" id="year" ng-required="true" ng-model="saved.year"/>
          </div>
          

          <input class="btn btn-info btn-sm" ng-disabled="add.$invalid" type="submit" value="Register new Book"/>
          <br><br><br>
          </form>
        </div>

  </div>
</div>
