<div ng-controller="editController">

    <div class="row">
      
      <div class="col-10">
      	<br><br>
        <form name="edit" ng-submit="save()">

         <div class="form-group">
            <label for="author"><b>Author:</b></label>
            <input class="form-control" id="author" ng-required="true" ng-model="edited.author"/>
          </div>

		  <div class="form-group">
            <label for="country"><b>Country:</b></label>
            <input class="form-control" id="country" ng-required="true" ng-model="edited.country"/>
          </div>

          <div class="form-group">
            <label for="language"><b>Language:</b></label>
            <input class="form-control" id="language" ng-required="true" ng-model="edited.language"/>
          </div>
          
          <div class="form-group">
            <label for="pages"><b>Number of pages:</b></label>
            <input class="form-control" id="pages" ng-required="true" ng-model="edited.pages"/>
          </div>
          
          <div class="form-group">
            <label for="title"><b>Title:</b></label>
            <input class="form-control" id="title" ng-required="true" ng-model="edited.title"/>
          </div>
          
          <div class="form-group">
            <label for="year"><b>Year:</b></label>
            <input class="form-control" id="year" ng-required="true" ng-model="edited.year"/>
          </div>
          

          <input class="btn btn-info btn-sm" ng-disabled="edit.$invalid" type="submit" value="Edit"/>
          <br><br><br>
          </form>
        </div>

  </div>
</div>
