<div ng-controller="homeController">


   <div class="jumbotron">
     <div class="container-fluid">
        <h1>{{message}}</h1>
        <p>Online Book Catalogue</p>
      </div>
		</div>
		
    
       <!-- PRIKAZ -->
        
        <div class="btn-group float-right">
          <button class="btn btn-success btn-sm" ng-click="changePage(-1)" ng-disabled="page == 0">Prev</button>
          <button class="btn btn-success btn-sm" ng-click="changePage(1)" ng-disabled="page == totalPages - 1">Next</button>
        </div>
        <br><br>
        
         <div ng-repeat="b in books">
       
         	
         	<fieldset style="background-color:#eaecee">
         	<ul>
              <li>Author: {{b.author}}</li>
              <li>Country: {{b.country}}</li>
              <li>Pages: {{b.pages}}</li>
              <li>Language: {{b.language}}</li>
              <li>Title: {{b.title}}</li>
              <li>Year: {{b.year}}</li>
              </ul>
              
              <br/>
              
             <button class="btn btn-secondary btn-sm" ng-click="goToEdit(b.id)">Edit</button> 
             <button class="btn btn-secondary btn-sm" ng-click="remove(b.id)">Delete</button>
             <a type="button" class="btn btn-secondary btn-sm" ng-href="{{b.link}}" target="_blank">Wiki</a>
             
             </fieldset>
             
              <br/>
            </div>
             <br/>   
        </div>

  </div>
</div>
