<div ng-controller="searchController">

    <div class="row">
    
    <div class="col-10">
        <br><br>
        <form name="search">
		  <div class="form-group">
            <label for="author"><b>Author:</b></label>
            <input class="form-control" id="author" ng-model="searchParams.author"/>
          </div>

          <div class="form-group">
            <label for="language"><b>Language:</b></label>
            <input class="form-control" id="language" ng-model="searchParams.language"/>
          </div>

		  <div class="form-group">
            <label for="title"><b>Title:</b></label>
            <input class="form-control" id="title" ng-model="searchParams.title"/>
          </div>	
          
           <div class="form-group">
            <label for="year"><b>Year:</b></label>
            <input class="form-control" id="year" ng-model="searchParams.year"/>
          </div>
		
          <button class="btn btn-info btn-sm" type="button" ng-click="doSearch()">Search</button>
          <br><br><br>
		</form>
          </div>
        </div>
        <br><br>
        
         <div class="btn-group float-right" ng-show="booksSearch.length > 0">
          <button class="btn btn-success btn-sm" ng-click="changePage(-1)" ng-disabled="page == 0">Prev</button>
          <button class="btn btn-success btn-sm" ng-click="changePage(1)" ng-disabled="page == totalPages - 1">Next</button>
        </div>
        <br><br>
        
         <div ng-repeat="bs in booksSearch">
         	<fieldset style="background-color:#eaecee">
         	  <p>Author: {{bs.author}}</p>
              <p>Country: {{bs.country}}</p>
              <p>Pages: {{bs.pages}}</p>
              <p>Language: {{bs.language}}</p>
              <p>Title: {{bs.title}}</p>
              <p>Year: {{bs.year}}</p>
              <br/>
             </fieldset> 
             <br/>   
        </div>
        

  </div>
</div>
